# backend part
backend/node_modules
backend/mongodb
backend/.vscode
backend/.idea
backend/.DS_Store
backend/.env

# frontend part
frontend/node_modules
frontend/.vscode
frontend/.idea
frontend/.DS_Store

# universal
.vscode
.idea
.DS_Store
